body {
    font-family: Arial;
    background-color: white;
    text-align: center;
}

h1 {
    font-size: 40px;
}

#titulo {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

#descricao {
    width: 300px;
    min-height: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    font-family: Arial;
    resize: vertical;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0;
}

li {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    list-style: none;
}